# Ignore stuff
dots/vim.symlink/view
dots/vim.symlink/Session.vim
dots/ssh.symlink/*
dots/todo.symlink/*
dots/gitconfig.symlink

# But not these ones
!dots/ssh.symlink/config.example
!dots/todo.symlink/config

.DS_Store
.netrwhist
dots/vim.symlink/bundle/Vundle.vim
dots/vim.symlink/bundle/ag.vim
dots/vim.symlink/bundle/ctrlp.vim
dots/vim.symlink/bundle/greplace.vim
dots/vim.symlink/bundle/matchit.zip
dots/vim.symlink/bundle/mustache.vim
dots/vim.symlink/bundle/neocomplete.vim
dots/vim.symlink/bundle/nerdtree
dots/vim.symlink/bundle/syntastic
dots/vim.symlink/bundle/tagbar
dots/vim.symlink/bundle/tlib_vim
dots/vim.symlink/bundle/typescript-vim
dots/vim.symlink/bundle/vim-addon-mw-utils
dots/vim.symlink/bundle/vim-airline
dots/vim.symlink/bundle/vim-airline-themes
dots/vim.symlink/bundle/vim-bundler
dots/vim.symlink/bundle/vim-coffee-script
dots/vim.symlink/bundle/vim-colors-solarized
dots/vim.symlink/bundle/vim-commentary
dots/vim.symlink/bundle/vim-cucumber
dots/vim.symlink/bundle/vim-dispatch
dots/vim.symlink/bundle/vim-endwise
dots/vim.symlink/bundle/vim-fugitive
dots/vim.symlink/bundle/vim-gitgutter
dots/vim.symlink/bundle/vim-go
dots/vim.symlink/bundle/vim-handlebars
dots/vim.symlink/bundle/vim-indent-guides
dots/vim.symlink/bundle/vim-indentobject
dots/vim.symlink/bundle/vim-javascript
dots/vim.symlink/bundle/vim-pastie
dots/vim.symlink/bundle/vim-protobuf
dots/vim.symlink/bundle/vim-ragtag
dots/vim.symlink/bundle/vim-rails
dots/vim.symlink/bundle/vim-repeat
dots/vim.symlink/bundle/vim-ruby
dots/vim.symlink/bundle/vim-slim
dots/vim.symlink/bundle/vim-snipmate
dots/vim.symlink/bundle/vim-surround
dots/vim.symlink/bundle/vim-tmux-navigator
dots/vim.symlink/bundle/vim-unimpaired
dots/vim.symlink/bundle/vim-vividchalk
