# Ignore stuff
dots/vim.symlink/view
dots/vim.symlink/Session.vim
dots/ssh.symlink/*
dots/todo.symlink/*
dots/gitconfig.symlink

# But not these ones
!dots/ssh.symlink/config.example
!dots/todo.symlink/config

.DS_Store
.netrwhist
dots/vim.symlink/bundle/*
